<!DOCTYPE html>
<html>
  <head>
    <title>RailsTutorial</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		
		

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

    <body ng-app="proyectoTest">  
  		<div class="row"> 
    		<div class="col-md-6 col-md-offset-3">
    			<!-- se invocan las templates usando el ui-router -->
	    		 <ui-view></ui-view>  
	    	</div>
	    </div>


	    <!-- agregamos template inline, tambien se podria definir en archivos separados, se agrego comentarios -->
		<script type="text/ng-template" id="/home.html">
			<div class="page-header">
				<h1>Aplicacion Angular Test ui-view</h1>
			</div>

			
			<div> 
	      		{{test}}
	    	</div>


			<div ng-repeat="post in posts | orderBy:'-upvotes'">

				<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>  
				<span style="font-size:20px; margin-left:10px;">

				<a ng-show="post.link" href="{{post.link}}">{{post.title}}</a> 

				<span ng-hide="post.link">{{post.title}}</span> - upvotes: {{post.upvotes}} 
				<!-- Agregado enlace a comentarios, ng-repeat crea un $index por cada elemento -->
				<span><a href="#/posts/{{$index}}">Comentarios</a></span>

			</div>


			<form ng-submit="addPost()" style="margin-top:30px;">  
				<h3>Agregar nuevo post</h3>


				<div class="form-group">

					<input class="form-control" type="text" placeholder="Titulo" ng-model="title"></input> 
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Link" ng-model="link"></input>
				</div>
				<button type="submit" class="btn btn-primary">Postear</button>
			</form>
	 		
		</script>


		<!-- template inline para posts -->
		<script type="text/ng-template" id="/posts.html">
			<div class="page-header">
				<h3>
					<a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
					<span ng-hide="post.link">{{post.title}}</span>
				</h3>
			</div>

			<!-- se sigue la misma logica para mostrar post pero ahora con comentarios  -->
			<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up"
				ng-click="incrementUpvotes(comment)"></span>
				{{comment.upvotes}} - by {{comment.author}}
				<span style="font-size:20px; margin-left:10px;">
					{{comment.body}}
				</span>
			</div>

			<form ng-submit="addComment()" style="margin-top:30px;">
				<h3>Agrega nuevo Comentario</h3>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Comentario" ng-model="body"></input>
				</div>
				<button type="submit" class="btn btn-primary">Postear</button>
			</form>

		</script>
  	</body>
</html>
